.label{
    font-size: 30px;
}
.input{
    padding: 5px;
    width: 300px;
    font-size: 25px;
}
.btn-submit{
    padding: 10px;
    font-size: 30px;
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 15px;
}
.btn-submit:hover{
    background-color: rgb(110, 232, 232);
    cursor: pointer;
}
